{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "semi": true,
  "experimentalTernaries": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "never",
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true
}
